@model IEnumerable<Vehicles>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <style>
        body {
            background-image: url('https://i.imgur.com/wufL2sr.jpg');
            background-attachment: fixed;
        }
    </style>
    <h2 class="text-center">Vehicles</h2>

    <div style="display: block">
        <a href="/Vehicles/InsertVehicle/"><img src="~/img/plus.svg" /> Create a New Vehicle Listing</a>
    </div>

    <table class="table">
        <tr class="text-white">
            <th>ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Price</th>
            <th>Color</th>
        </tr>

        @foreach (var vehicle in Model)
        {
            <tr class="text-white">
                <td><a href=/Vehicles/ViewVehicle/@vehicle.Vehicle_ID>@vehicle.Vehicle_ID</a></td>
                <td>@vehicle.Make</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Year</td>
                <td>@vehicle.Mileage</td>
                <td>@vehicle.Price</td>
                <td>@vehicle.Color</td>
            </tr>
        }
    </table>
</body>
</html>



