<style>
    body {
        height: 100%;
        width: 100%;
        background-image: url('https://i.imgur.com/tkGHO7b.jpg');
        background-repeat: no-repeat no-repeat;
        background-attachment: fixed;
    }
</style>

<br />
<br />
<br />

<div style="display: block">
    <a href="/Vehicles/InsertVehicle/">Create a New Vehicle Listing</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Mileage</th>
        <th>Price</th>
        <th>Color</th>
    </tr>

    @foreach (var vehicle in Model)
    {
        <tr>
            <td><a href=/Vehicles/ViewVehicle/@vehicle.Vehicle_ID>@vehicle.Vehicle_ID</a></td>
            <td>@vehicle.Make</td>
            <td>@vehicle.Model</td>
            <td>@vehicle.Year</td>
            <td>@vehicle.Mileage</td>
            <td>@vehicle.Price</td>
            <td>@vehicle.Color</td>
        </tr>
    }
</table>



